.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}
h1 {
  font-family: "Julius Sans One"
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, textarea:focus {
  border-color: #0095ff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 149, 255, 0.5);
}

textarea {
  height: 100px;
  resize: none;
}

.send-button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.15385;
  margin-top: 20px;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.send-button:hover,
.send-button:focus {
  background-color: #07c;
}

.send-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.send-button:active {
  background-color: #0064bd;
  box-shadow: none;
}

.name-input.is-invalid,
.email-input.is-invalid,
.message-input.is-invalid {
  border: 1px solid red;
  background-color: #ffe6e6; /* Light red background for better visibility */
}

.name-input.is-valid,
.email-input.is-valid,
.message-input.is-valid {
  border: 1px solid green;
  background-color: #e6ffe6; /* Light green background */
}

.error-message {
  color: red;
  font-size: 0.775em;
  margin-top: 5px;
}

.submission-message {
  color: green;
  font-size: 1em;
  margin-top: 20px;
}
