/* 
.footer-container {
    display: flex;
}

path {
    display: flex;
}
footer {
    position: sticky;
} */
/* Footer.css */
.footer-container {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    /* width: 100%; */
    color: white; /* Change text color as needed */
    text-align: center;
    /* padding: 0px 0; Adjust padding as needed */
  }
  