/* .productContainer {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
}
li {
    list-style: none;

}

img {
    width: 100%;
    display: flex;
    justify-content: center;
} */

.products-title {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.products {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    /* border: 2px solid black; */
    border-radius: 25px 25px 25px 25px;
    gap: 20px;
    margin: 20px;
    
  }

 
.product-card .product-image {
    margin: 0 auto;
   
} 

.product-card {
    /* border: 2px solid black; */
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 10px;
    width: 280px;
    height: 280px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    border-radius: 25px 25px 25px 25px;
    transition: all 0.7s ease-in-out;
    /* border: 1px solid rgb(30, 255, 0); */
}
.product-card:hover {
  scale: 1.1;
  transition: 0.8s;
}

 .product-image {
    width: 210px;
    height: 200px;
    border-radius: 0px 0px 25px 25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
  
  } 
 
h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: center;
}

.addtocart-btn {
    display: flex;
    margin-left: 10px;
    
}


.addProduct {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin: 10px;
}

.addProduct:hover,
.addProduct:focus {
  background-color: #07c;
}

.addProduct:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.addProduct:active {
  background-color: #0064bd;
  box-shadow: none;
}

.removeOne { 
    background-color: antiquewhite;
    width: 20px;
    border-style: none;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius:  10px 0 0 10px;
}
.addOne { 
    background-color: antiquewhite;
    width: 20px;
    border-style: none;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0 10px 10px 0;
}

.amount {
    background-color: antiquewhite;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.addProductContainer {
    display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 10px;
}

.deleteProduct {
  margin-left: 110px;
  height: 20px;
  width: 20px;
}
.editProduct {
  height: 20px;
  width: 20px;
  margin-left: 2px;
}

.addtocart-button, .deleteProduct, .editProduct {
  position: relative;
  display: inline-block;
  /* margin: 15px; */
  /* padding: 15px 30px; */
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #30B700;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #30B700;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #30B700;
}

.addtocart-button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #227e00;
  border: 2px solid #227e00;
}

.addtocart-button:active {
  transform: scale(0.9);
}

.deleteProduct:hover, .editProduct:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #227e00;
  border: 2px solid #227e00;
}