@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Julius+Sans+One&display=swap');
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

.navMenu {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 2em;
	text-decoration: none;
	color: black;
	@media (max-width: 440px) {
		font-size: 1.5em;
	}
}

.navLogin {
	color: white;
	text-decoration: none;
	font-size: 25px;
	border: none;
	background: none;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
  } 

 .navLogin::before {
	margin-left: auto;
  }
  
  .navLogin::after, .navLogin::before {
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	transition: 0.5s;
  }
  
  .navLogin:hover::after, .navLogin:hover::before {
	width: 100%;
  }

/* 
.nav-login {
	text-decoration: none;
	color: black;
}

.nav-login.active {
	color: blue;

}

.nav-login:hover {
	color: yellow;
}


.cart {
	color: black;
	position: absolute;
	margin-left: 10px;

}
.cart:hover {
	color:yellow;
}
.cart.active {
	color:blue;
} */

.cart { 
	margin-top: 20px;
	margin-right: 20px;
	font-size: 2em;
	position: absolute;
	right: 0;
	@media (max-width: 440px) {
		margin-top: 10px;
	}
}